@{
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>MagarichVideoService</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="menubtn-logo-container">
                <div class="menu-btn">
                    <button>
                        <img src="images/menu.svg" />
                    </button>
                </div>
                <div class="logo-item">
                    <img src="images/logo.svg" />
                </div>
            </div>
            <div class="search-container">
                <form class="search-form">
                    <div class="search-input">
                        <input type="text" placeholder="введите запрос" />
                    </div>
                    <button class="search-btn">
                        <img src="images/search.svg" />
                    </button>
                </form>
            </div>
            <div class="user-menu-container">
                <button class="create-btn">
                    <img src="images/upload.svg" />
                </button>
                <button class="notifications-btn">
                    <img src="images/notifications.svg" />
                </button>
                <button class="profile-menu">
                    <img src="images/profile.svg" />
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="menu-container">
            <div class="home">
                <a class="menu-a">
                    <img src="images/home.svg" />
                    Главная
                </a>
            </div>
            <div class="subscriptions">
                <a class="menu-a">
                    <img src="images/subscriptions.svg" />
                    Подписки
                </a>
            </div>
            <div class="library">
                <a class="menu-a">
                    <img src="images/libraries.svg" />
                    Библиотека
                </a>
            </div>
        </div>
        <div class="main-container">
            <div class="video-tags-container">
                <div class="video-tag">
                    Все
                </div>
                <div class="video-tag">
                    Новое
                </div>
                <div class="video-tag">
                    Видеоигры
                </div>
                <div class="video-tag">
                    Уход за собой
                </div>
                <div class="video-tag">
                    Музыка
                </div>
                <div class="video-tag">
                    Экшн и приключения
                </div>
                <div class="video-tag">
                    Для детей
                </div>
                <div class="video-tag">
                    Для стариков
                </div>
                <div class="video-tag">
                    Для школоты
                </div>
                <div class="video-tag">
                    Юмор
                </div>
            </div>
            <div class="content-container">
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                    <div class="content-card"></div>
                <div class="content-card"></div>
            </div>
        </div>
    </main>
</body>
</html>