@{
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>MagarichVideoService</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="menubtn-logo-container">
                <div class="menu-btn">
                    <button>
                        <img src="images/menu.svg"/>
                    </button>
                </div>
                <div class="logo-item">
                    <img src="images/logo.svg" />
                </div>
            </div>
            <div class="search-container">
                <div class="search-input">
                    <input type="text"/>
                </div>
                <button class="search-btn">
                    <img src="images/search.svg" />
                </button>
            </div>
            <div class="user-menu-container">
                <button class="create-btn">
                    <img src="images/upload.svg" />
                </button>
                <button class="notifications-btn">
                    <img src="images/notifications.svg" />
                </button>
                <button class="profile-menu">
                    <img src="images/profile.svg" />
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="menu-container">

        </div>
        <div class="main-container">

        </div>
    </main>
</body>
</html>