html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

html {
    height: 101%;
}

body {
    font-size: 62.5%;
    line-height: 1;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    background-color: #0F0F0F;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-container{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
/*    border-bottom: 1px solid white;*/

    display: flex;
    justify-content: space-between;
}

.header-container .menubtn-logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
}

.header-container .menubtn-logo-container .logo-item:hover{
    cursor: pointer;
}

.header-container .menubtn-logo-container .menu-btn button{
    width: 40px;
    height: 40px;
    background: none;
    padding: 0px;
    border: none;
    border-radius: 50px
}

.header-container .menubtn-logo-container .menu-btn button img{
    width: 40px;
    height: 40px;
}

.header-container .menubtn-logo-container .menu-btn button:hover{
    cursor: pointer;
    background-color: #272727;
}

.header-container .menubtn-logo-container .logo-item img{
    width: 40px;
    height: 40px;
}

.header-container .search-container{
    display: flex;
    align-items: center;
}

.header-container .search-container .search-form{
    display: flex;
    align-items: center;
}

.header-container .search-container .search-form .search-input{
    height: 38px;
    width: 500px;
    background-color: #121212;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
}

.header-container .search-container .search-form .search-input input{
    background-color: #121212;
    border: none;
    height: 80%;
    width: 100%;
    margin-left: 9px;
    font-size: 18px;
    color: #E2E2E2;
}

.header-container .search-container .search-form .search-btn {
    height: 40px;
    width: 40px;
    background-color: #222222;
    border: 1px solid #303030;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.header-container .search-container .search-form .search-btn:hover{
    cursor: pointer;
}

.header-container .search-container .search-form .search-btn img{
    margin: 8px;
}

.header-container .user-menu-container{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header-container .user-menu-container button{
    width: 40px;
    height: 40px;
    background: none;
    padding: 0px;
    border: none;
    border-radius: 50px;
}

.header-container .user-menu-container button:hover{
    cursor: pointer;
    background-color: #272727;
}

.header-container .user-menu-container button img{
    width: 20px;
    height: 20px;
}

main{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

main .main-container{
    padding-top: 56px;
    padding-left: 72px;
    overflow-y: hidden;
}

main .main-container div{
    width: 100px;
    height: 80px;
    background-color: aqua;
}

.menu-container{
/*    border-right: 1px solid white;*/
    width: 72px;
    position: fixed;
    height: 100%;
    top: 56px;
    left: 0px;
}

.menu-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    margin: 15px 6px;*/
    color: #F1F1F1;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.menu-a:hover{
    cursor: pointer;
    text-decoration-line: none;
    background-color: #272727;
}

.menu-a img{
    width: 40px;
    height: 40px;
}

.menu-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    width: 16px;
}

body::-webkit-scrollbar-thumb{
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0,0%,67%);
}